html {
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color:white;
}

body {
	background-color:#696969;
	margin:0;
	padding:0;
}

.section {
	width:80%;
	height:90vh;
	text-align:center;
	padding:5vh 10%;
}

.subsection {
	margin:auto;
}

#heading {
	background-color:#505050;
}

#education {
	background-color:#696969;
}

#projects {
	background-color:#505050;
}

#work {
	background-color:#696969;
}

#email {
	color:#FF6597;
	font-size:2rem;
}

h1 {
	color:#EEEEEE;
	padding-top:28vh;
	line-height:18vh;
	margin:0;
	font-size:18vh;
}

h2 {
	color:#222222;
	font-size:8vh;
	padding:0;
	margin:0;
}

h3 {
	color:#FF6597;
	font-size:4vh;
	padding:0;
	margin:2hv;
}

h4 {
	color:#DDDDDD;
	font-size:3vh;
	padding:0;
	margin:1vh;
}