html {
	font-family:"Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	color:white;
}

body {
	background-color:#121212;
	margin:0;
	padding:0;
}

p {
	margin:0;
}

.section {
	width:80%;
	text-align:center;
	padding:5vh 10%;
}

.link {
	font-size:2rem;
	text-decoration:none;
}

#email {
	color:#E40303;
}

#website {
	color:#FF8C00;
}

#twitter {
	color:#FFED00;
}

#insta {
	color:#008026;
}

#info {
	color:#004DFF;
}

h1 {
	color:#EEEEEE;
	padding-top:25vh;
	margin:0;
	font-size:8vw;
}